# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Anish Jayavant
email = 36860630+anishjayavant@users.noreply.github.com
signingkey = F3B4C8C6A5F54861

[alias]
po = push --set-upstream origin 
cb = branch --show-current
p = push
pf = push --force
cm = commit -m
st = status
ll = log --oneline
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
lg = lg2
last = log -1 HEAD --stat
d = diff
dv = difftool -t vimdiff -y
gl = config --global -l
co = checkout
cob = checkout -b
ch = cherry-pick
dc = diff --cached
pl = pull
f = fetch
[commit]
gpgSign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
